<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.account.mapper.AccountMapper">
    <select id="checkAccountNumber" resultType="int">
        SELECT COUNT(*)
        FROM ACCOUNT
        WHERE account_number = #{accountNumber}
    </select>

    <select id="getAccountsByUserId">
        SELECT *
        FROM ACCOUNT
        WHERE USER_ID = #{userId}
    </select>
</mapper>