<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.budget.mapper.BudgetMapper">
    <select id="checkCategoryAndUserIsDuplicate">
        SELECT COUNT(*)
        FROM BUDGET
        WHERE USER_ID = #{userId}
        AND CATEGORY_ID = #{categoryId}
    </select>

    <select id="getBudgets">
        SELECT B.*,
               C.name category_name
        FROM BUDGET B
        JOIN CATEGORY C ON B.CATEGORY_ID = C.CATEGORY_ID
        WHERE B.USER_ID = #{userId}
    </select>
</mapper>