<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.category.mapper.CategoryMapper">
    <select id="checkCategoryNameTypeUnique">
        SELECT COUNT(*)
        FROM CATEGORY
        WHERE user_id = #{user_id}
          AND NAME = #{name}
          AND TYPE = #{type}
    </select>

    <select id="getCategoryTypeByCategoryId">
        SELECT type
        FROM CATEGORY
        WHERE CATEGORY_ID = #{category_id}
    </select>
</mapper>