<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.ledger.mapper.LedgerMapper">
    <select id="getLedgersByUserId">
        SELECT *
        FROM LEDGER
        WHERE USER_ID = #{userId}
          AND trading_at <![CDATA[ >= ]]> #{startDate}
          AND trading_at <![CDATA[ <= ]]> #{endDate}
    </select>
</mapper>