<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.ledger.mapper.LedgerMapper">
    <select id="getLedgersByUserId">
        SELECT L.*,
               C.TYPE categoryType, C.NAME categoryName,
               P.NAME paymentName
        FROM LEDGER L
        JOIN CATEGORY C ON L.CATEGORY_ID = C.CATEGORY_ID
        LEFT JOIN PAYMENT P ON L.PAYMENT_ID = P.PAYMENT_ID
        WHERE L.USER_ID = #{userId}
          AND L.trading_at <![CDATA[ >= ]]> #{startDate}
          AND L.trading_at <![CDATA[ <= ]]> #{endDate}
    </select>
</mapper>