<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneylog_backend.moneylog.transaction.mapper.TransactionMapper">
    <select id="getTransactionsByUserId" resultType="com.moneylog_backend.moneylog.transaction.dto.res.TransactionResDto">
        SELECT T.*,
               C.TYPE categoryType, C.NAME categoryName,
               P.NAME paymentName
        FROM TRANSACTION T
        JOIN CATEGORY C ON T.CATEGORY_ID = C.CATEGORY_ID
        LEFT JOIN PAYMENT P ON T.PAYMENT_ID = P.PAYMENT_ID
        WHERE T.USER_ID = #{userId}
          AND T.trading_at <![CDATA[ >= ]]> #{startDate}
          AND T.trading_at <![CDATA[ <= ]]> #{endDate}
    </select>

    <select id="getDailySummaries" resultType="com.moneylog_backend.moneylog.transaction.dto.res.DailySummaryResDto">
        SELECT
            T.TRADING_AT AS date,
            COALESCE(SUM(CASE WHEN C.TYPE = 'INCOME' THEN T.AMOUNT ELSE 0 END), 0) AS totalIncome,
            COALESCE(SUM(CASE WHEN C.TYPE = 'EXPENSE' THEN T.AMOUNT ELSE 0 END), 0) AS totalExpense
        FROM TRANSACTION T
        JOIN CATEGORY C ON T.CATEGORY_ID = C.CATEGORY_ID
        WHERE T.USER_ID = #{userId}
          AND T.TRADING_AT <![CDATA[ >= ]]> #{startDate}
          AND T.TRADING_AT <![CDATA[ <= ]]> #{endDate}
        GROUP BY T.TRADING_AT
        ORDER BY T.TRADING_AT
    </select>

    <select id="getCategoryStats" resultType="com.moneylog_backend.moneylog.transaction.dto.res.CategoryStatsResDto">
        SELECT
            C.NAME AS categoryName,
            SUM(T.AMOUNT) AS totalAmount
        FROM TRANSACTION T
        JOIN CATEGORY C ON T.CATEGORY_ID = C.CATEGORY_ID
        WHERE T.USER_ID = #{userId}
          AND C.TYPE = 'EXPENSE'
          AND T.TRADING_AT <![CDATA[ >= ]]> #{startDate}
          AND T.TRADING_AT <![CDATA[ <= ]]> #{endDate}
        GROUP BY C.CATEGORY_ID, C.NAME
        ORDER BY totalAmount DESC
    </select>
</mapper>